images
!build/helicopter_simplified.onnx
!build/NLK-s_simplified.onnx
.vscode
build
windows/.vscode
windows/.vs
windows/x64
deploy
windows/webapi/.vscode
windows/webapi/.vs
windows/webapi/x64
windows/webapi/x64
windows_app_deploy.zip
